<html>
    <body>
        <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; overflow: hidden; width: 210mm; height: 297mm; background-color: #eee;">
            <div style="position: relative; display: flex; flex-direction: row; justify-content: center; align-items: flex-start; width: 100%; height: 52mm; background-color: #ddd;">
                <!-- <img style="position: absolute; left: 5mm; display: flex; width: 32mm; height: 32mm;" src="../../../assets/logo5.png"/>
                <div style="display: flex; flex-direction: column;  margin-top: 10mm;justify-content: center; align-items: center; width: 100%; height: 100%;">
                    <span style="font-size: 7.5mm; font-weight: bold;">JR HAJJ NIAGA (M) SDN BHD</span>
                    <span style="font-size: 3.5mm;">1273889-W</span>
                    <span style="font-size: 3.5mm;">(SST No : )</span>
                    <span style="font-size: 3.5mm;">332A-3.04, TINGKAT 3,</span>
                    <span style="font-size: 3.5mm;">PLAZA AMPANG CITY,</span>
                    <span style="font-size: 3.5mm;">JALAN AMPANG ULU,</span>
                    <span style="font-size: 3.5mm;">50450 KUALA LUMPUR.</span>
                    <span style="font-size: 3.5mm;">Tel: 0323867399</span>
                </div> -->
                <div style="display: flex; flex-direction: column; margin-top: 10mm; justify-content: flex-start; align-items: center; width: 40%; height: 40mm; border-right: 0.4mm #000 solid;">
                    <div style="display: flex; height: 19mm;">
                        <img style="width: 24.75mm; height: 15.95mm;" src="../../../assets/logo4.png"/>
                    </div>
                    <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; height: 10mm;">
                        <span style="font-size: 3mm; font-weight: bold;">PENGILANG PRODUK JAHITAN</span>
                        <span style="font-size: 2.5mm;">(MANUFACTURING TEXTILE INDUSTRY)</span>
                    </div>
                    <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-end; height: 10mm;">
                        <span style="font-size: 3.5mm;">No. 31 , Jalan Dagang 8, Taman Dagang Jaya,</span>
                        <span style="font-size: 3.5mm;">68000 Ampang, Selangor</span>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column; margin-top: 10mm; justify-content: flex-start; align-items: center; width: 40%; height: 40mm; border-left: 0.4mm #000 solid;">
                    <div style="display: flex; height: 19mm;">
                        <img style="width: 18.5mm; height: 17.2mm;" src="../../../assets/logo5.png"/>
                    </div>
                    <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; height: 10mm;">
                        <span style="font-size: 3mm; font-weight: bold;">JR HAJJ NIAGA (M) SDN BHD</span>
                    </div>
                    <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; height: 10mm;">
                        <span style="font-size: 3.5mm;">32A - 3.03 & 3.04 Tingkat 3 Plaza Ampang City,</span>
                        <span style="font-size: 3.5mm;">Jalan Ampang Ulu, 50450 Kuala Lumpur</span>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 48mm; background-color: #ccc;">
                <div style="display: flex; flex-direction: column; margin-top: 10mm; margin-left: 10mm; justify-content: flex-start; align-items: flex-start; flex: 1; height: 48mm;">
                    <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 24mm;">
                        <span style="width: 20mm; font-size: 3.5mm;">TO</span>
                        <span style="width: 4mm; font-size: 3.5mm;">:</span>
                        <div style="display: flex; width: 80mm; flex-direction: column; justify-content: flex-start; align-items: center;">
                            <span style="width: 100%; font-size: 3.5mm; font-weight: bold;">DERATU ENTERPRISE</span>
                            <span style="width: 100%; font-size: 3.5mm;">NO.95-1, JALAN NAUTIKA</span>
                            <span style="width: 100%; font-size: 3.5mm;">AU20/A, SEKSYEN U20, PUSAT KOMERSIAL</span>
                            <span style="width: 100%; font-size: 3.5mm;">TSB, 47000, SUNGAI BULOH SELANGOR</span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                        <span style="width: 20mm; font-size: 3.5mm;">TEL/FAX</span>
                        <span style="width: 4mm; font-size: 3.5mm;">:</span>
                        <div style="display: flex; width: 80mm; flex-direction: column; justify-content: flex-start; align-items: center;">
                            <span style="width: 100%; font-size: 3.5mm;">/</span>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column; margin-top: 10mm; justify-content: flex-start; align-items: flex-start; width: 60mm; height: 48mm;">
                    <span style="width: 40mm; font-weight: bold; font-size: 4.5mm;">SALES ORDERS</span>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start; width: 100%;">
                        <span style="width: 70mm; font-size: 3.5mm;">BILL NO</span>
                        <span style="width: 4mm; font-size: 3.5mm;">:</span>
                        <div style="display: flex; width: 83mm; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                            <span style="width: 100%; font-size: 3.5mm;">SO/00649</span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                        <span style="width: 70mm; font-size: 3.5mm;">DATE</span>
                        <span style="width: 4mm; font-size: 3.5mm;">:</span>
                        <div style="display: flex; width: 83mm; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                            <span style="width: 100%; font-size: 3.5mm;">03/11/20</span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                        <span style="width: 70mm; font-size: 3.5mm;">REF NO.</span>
                        <span style="width: 4mm; font-size: 3.5mm;">:</span>
                        <div style="display: flex; width: 83mm; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                            <span style="width: 100%; font-size: 3.5mm;"></span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                        <span style="width: 70mm; font-size: 3.5mm;">SALES PERSON</span>
                        <span style="width: 4mm; font-size: 3.5mm;">:</span>
                        <div style="display: flex; width: 83mm; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                            <span style="width: 100%; font-size: 3.5mm;"></span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                        <span style="width: 70mm; font-size: 3.5mm;">TERM</span>
                        <span style="width: 4mm; font-size: 3.5mm;">:</span>
                        <div style="display: flex; width: 83mm; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                            <span style="width: 100%; font-size: 3.5mm;"></span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                        <span style="width: 70mm; font-size: 3.5mm;">CODE</span>
                        <span style="width: 4mm; font-size: 3.5mm;">:</span>
                        <div style="display: flex; width: 83mm; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                            <span style="width: 100%; font-size: 3.5mm;">CU00542</span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                        <span style="width: 70mm; font-size: 3.5mm;">PAGE</span>
                        <span style="width: 4mm; font-size: 3.5mm;">:</span>
                        <div style="display: flex; width: 83mm; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                            <span style="width: 100%; font-size: 3.5mm;">1 of 1</span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%; height: 85mm; background-color: #bbb;">
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 6mm;">
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 8mm; height: 6mm; font-size: 3.5mm;"></span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 22mm; height: 6mm; font-size: 3.5mm;">Code</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 80mm; height: 6mm; font-size: 3.5mm;">Description</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 18mm; height: 6mm; font-size: 3.5mm;">Color</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 10mm; height: 6mm; font-size: 3.5mm;">Size</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 10mm; height: 6mm; font-size: 3.5mm;">Qty</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 10mm; height: 6mm; font-size: 3.5mm;">UOM</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 14mm; height: 6mm; font-size: 3.5mm;">Price</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 18mm; height: 6mm; font-size: 3.5mm;">Discount</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 15mm; height: 6mm; font-size: 3.5mm;">Amount</span>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 5.5mm;">
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 8mm; height: 5.5mm; font-size: 3.5mm;">1.</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 22mm; height: 5.5mm; font-size: 3.5mm;">ST00318</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 80mm; height: 5.5mm; font-size: 3.5mm;">TELEKUNG PASANG (NAVY BLUE)</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 18mm; height: 5.5mm; font-size: 3.5mm;">Navy Blue</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 10mm; height: 5.5mm; font-size: 3.5mm;">14</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 10mm; height: 5.5mm; font-size: 3.5mm;">107</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 10mm; height: 5.5mm; font-size: 3.5mm;">Unit</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 14mm; height: 5.5mm; font-size: 3.5mm;">78.00</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 18mm; height: 5.5mm; font-size: 3.5mm;"></span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 15mm; height: 5.5mm; font-size: 3.5mm;">8,346.00</span>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 5.5mm;">
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 8mm; height: 5.5mm; font-size: 3.5mm;">2.</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 22mm; height: 5.5mm; font-size: 3.5mm;">ST00318</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 80mm; height: 5.5mm; font-size: 3.5mm;">TELEKUNG PASANG (PEACH)</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 18mm; height: 5.5mm; font-size: 3.5mm;">Peach</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 10mm; height: 5.5mm; font-size: 3.5mm;">21</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 10mm; height: 5.5mm; font-size: 3.5mm;">107</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 10mm; height: 5.5mm; font-size: 3.5mm;">Unit</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 14mm; height: 5.5mm; font-size: 3.5mm;">78.00</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 18mm; height: 5.5mm; font-size: 3.5mm;"></span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 15mm; height: 5.5mm; font-size: 3.5mm;">4,134.00</span>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 5.5mm;">
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 8mm; height: 5.5mm; font-size: 3.5mm;">3.</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 22mm; height: 5.5mm; font-size: 3.5mm;">ST00318</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 80mm; height: 5.5mm; font-size: 3.5mm;">TELEKUNG PASANG (PURPLE)</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 18mm; height: 5.5mm; font-size: 3.5mm;">Purple</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 10mm; height: 5.5mm; font-size: 3.5mm;">325</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 10mm; height: 5.5mm; font-size: 3.5mm;">107</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 10mm; height: 5.5mm; font-size: 3.5mm;">Unit</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 14mm; height: 5.5mm; font-size: 3.5mm;">78.00</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 18mm; height: 5.5mm; font-size: 3.5mm;"></span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 15mm; height: 5.5mm; font-size: 3.5mm;">8,190.00</span>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%; height: 112mm; background-color: #aaa;">
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; border-top: 0.2mm #ccc solid; width: 203mm; height: 0.2mm;">
                </div>
                <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 60mm;">
                    <div style="display: flex; flex-direction: column; margin-top: 1mm; margin-left: 10mm; justify-content: flex-start; align-items: flex-start; flex: 1; height: 48mm;">
                        <span style="display: flex; font-size: 3.5mm; margin-top: 18.2mm;">JR HAJJ NIAGA (M) SDN BHD</span>
                        <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width: 100%;">
                            <span style="width: 60mm; height: 1mm; border-bottom: 0.2mm #000 solid; margin-top: 24mm;"></span>
                            <span style="width: 60mm; font-size: 3.5mm; text-align: left;">Authorised Signature</span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column; margin-top: 1mm; justify-content: flex-start; align-items: flex-start; width: 63mm; margin-right: 4mm; height: 48mm;">
                        <div style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start; width: 100%;">
                            <span style="width: 70mm; font-size: 3.5mm; text-align: right;">SUB TOTAL</span>
                            <span style="width: 4mm; font-size: 3.5mm;">:</span>
                            <div style="display: flex; width: 83mm; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                                <span style="width: 100%; font-size: 3.5mm; text-align: right;">20.670.00</span>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start; width: 100%;">
                            <span style="width: 70mm; font-size: 3.5mm; text-align: right;">DISCOUNT</span>
                            <span style="width: 4mm; font-size: 3.5mm;">:</span>
                            <div style="display: flex; width: 83mm; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                                <span style="width: 100%; font-size: 3.5mm; text-align: right;">20.670.00</span>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start; width: 100%;">
                            <span style="width: 70mm; font-size: 3.5mm; text-align: right;">BULK DISCOUNT</span>
                            <span style="width: 4mm; font-size: 3.5mm;">:</span>
                            <div style="display: flex; width: 83mm; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                                <span style="width: 100%; font-size: 3.5mm; text-align: right;">20.670.00</span>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                            <span style="width: 70mm; font-size: 3.5mm; text-align: right;">Service Tax</span>
                            <span style="width: 4mm; font-size: 3.5mm;">:</span>
                            <div style="display: flex; width: 83mm; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                                <span style="width: 100%; font-size: 3.5mm; text-align: right;">0.00</span>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                            <span style="width: 70mm; font-size: 3.5mm; font-weight: bold; text-align: right;">TOTAL</span>
                            <span style="width: 4mm; font-size: 3.5mm; font-weight: bold;">:</span>
                            <div style="display: flex; width: 83mm; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                                <span style="width: 100%; font-size: 3.5mm; font-weight: bold; border-top: 0.2mm #ccc solid; text-align: right;">20.670.00</span>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                            <span style="width: 70mm; font-size: 3.5mm; text-align: right;">Deposit</span>
                            <span style="width: 4mm; font-size: 3.5mm;">:</span>
                            <div style="display: flex; width: 83mm; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                                <span style="width: 100%; font-size: 3.5mm; text-align: right;">0.00</span>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                            <span style="width: 70mm; font-size: 3.5mm; font-weight: bold; text-align: right;">BALANCE</span>
                            <span style="width: 4mm; font-size: 3.5mm; font-weight: bold;">:</span>
                            <div style="display: flex; width: 83mm; flex-direction: column; justify-content: flex-start; align-items: flex-start; border-top: 0.2mm #ccc solid;">
                                <span style="width: 100%; font-size: 3.5mm; font-weight: bold; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; text-align: right;">41,262.00</span>
                                <span style="width: 100%; height: 1mm; border-bottom: 0.2mm #ccc solid;"></span>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-end; width: 100%;">
                            <span style="width: 100%; height: 1mm; border-bottom: 0.2mm #000 solid; margin-top: 18.8mm;"></span>
                            <span style="width: 100%; font-size: 3.5mm; text-align: right;">Customer Chopped & Signed</span>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 90%; height: 12mm;">
                    <div style="display: flex; width: 100%; flex-direction: column; justify-content: flex-start; align-items: center;">
                        <span style="width: 100%; font-size: 3.5mm;">Nota:</span>
                        <span style="width: 100%; font-size: 3.5mm;">Items unclaimed within ……… days/months from the date of the bill shall be sold to recover the cost of production, management and space.</span>
                        <span style="width: 100%; font-size: 3.5mm; margin-top: 3.5mm;">Syarat Tempahan:</span>
                        <span style="width: 100%; font-size: 3.5mm;">* Tempahan akan mula diproses setelah deposit Penuh diterima (50% / 70%)</span>
                        <span style="width: 100%; font-size: 3.5mm;">* Pembayaran baki Penuh sebelum produk diambil</span>
                        <span style="width: 100%; font-size: 3.5mm;">* Segala pembayaran hendak lah dibuat atas nama:</span>
                        <span style="width: 100%; font-size: 3.5mm; margin-top: 3.5mm;">JR HAJJ NIAGA (M) SDN BHD</span>
                        <span style="width: 100%; font-size: 3.5mm;">No. Akaun 12122010031287</span>
                        <span style="width: 100%; font-size: 3.5mm;">BIMB</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>