<html>
    <body>
        <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; overflow: hidden; width: 210mm; height: 297mm; background-color: #eee;">
            <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; overflow: hidden; width: 210mm; height: 148.5mm; background-color: #ffe;">
                <div style="position: relative; display: flex; flex-direction: row; justify-content: center; align-items: flex-start; width: 100%; height: 52mm; background-color: #ddd;">
                    <div style="display: flex; flex-direction: column; margin-top: 10mm; justify-content: flex-start; align-items: center; width: 40%; height: 40mm; border-right: 0.4mm #000 solid;">
                        <div style="display: flex; height: 19mm;">
                            <img style="width: 24.75mm; height: 15.95mm;" src="../../../assets/logo4.png"/>
                        </div>
                        <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; height: 10mm;">
                            <span style="font-size: 3mm; font-weight: bold;">PENGILANG PRODUK JAHITAN</span>
                            <span style="font-size: 2.5mm;">(MANUFACTURING TEXTILE INDUSTRY)</span>
                        </div>
                        <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-end; height: 10mm;">
                            <span style="font-size: 3.5mm;">No. 31 , Jalan Dagang 8, Taman Dagang Jaya,</span>
                            <span style="font-size: 3.5mm;">68000 Ampang, Selangor</span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column; margin-top: 10mm; justify-content: flex-start; align-items: center; width: 40%; height: 40mm; border-left: 0.4mm #000 solid;">
                        <div style="display: flex; height: 19mm;">
                            <img style="width: 18.5mm; height: 17.2mm;" src="../../../assets/logo5.png"/>
                        </div>
                        <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; height: 10mm;">
                            <span style="font-size: 3mm; font-weight: bold;">JR HAJJ NIAGA (M) SDN BHD</span>
                        </div>
                        <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; height: 10mm;">
                            <span style="font-size: 3.5mm;">32A - 3.03 & 3.04 Tingkat 3 Plaza Ampang City,</span>
                            <span style="font-size: 3.5mm;">Jalan Ampang Ulu, 50450 Kuala Lumpur</span>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 18.5mm; background-color: #ccc;">
                    <div style="display: flex; flex-direction: column; margin-top: 10mm; margin-left: 10mm; justify-content: flex-start; align-items: flex-start; width: 32mm; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 24mm;">
                            <span style="width: 8mm; font-size: 3.5mm;">Date</span>
                            <span style="width: 4mm; font-size: 3.5mm;">:</span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column; margin-top: 10mm; justify-content: flex-start; align-items: center; flex: 1; height: 12mm;">
                        <span style="width: 44mm; font-weight: bold; font-size: 4.5mm; font-style: italic; text-align: center;">OFFICIAL RECEIPT</span>
                        <div style="width: 44mm; text-align: center; border-top: 0.2mm solid #000;"></div>
                    </div>
                    <div style="display: flex; flex-direction: column; margin-top: 10mm; margin-right: 10mm; justify-content: flex-start; align-items: flex-start; width: 32mm; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-end; align-items: flex-start; width: 100%; height: 24mm;">
                            <span style="width: 8mm; font-weight: bold; font-size: 4.5mm;">No.</span>
                            <span style="width: 12mm; font-size: 4.5mm; text-align: right; color: #c00">0401</span>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 8mm; background-color: #ccc;">
                    <div style="display: flex; flex-direction: column; margin-top: 4mm; margin-left: 10mm; margin-right: 10mm; justify-content: flex-start; align-items: flex-start; width: 100%; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                            <span style="width: 24mm; font-size: 3.5mm;">Receive From</span>
                            <div style="flex: 1; width: 100%; height: 3.5mm; border-bottom: 0.2mm solid #000;"></div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 8mm; background-color: #ccc;">
                    <div style="display: flex; flex-direction: column; margin-top: 4mm; margin-left: 10mm; margin-right: 10mm; justify-content: flex-start; align-items: flex-start; width: 100%; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                            <span style="width: 46mm; font-size: 3.5mm;">the sum of Ringgit Malaysia</span>
                            <div style="flex: 1; width: 100%; height: 3.5mm; border-bottom: 0.2mm solid #000;"></div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 8mm; background-color: #ccc;">
                    <div style="display: flex; flex-direction: column; margin-top: 4mm; margin-left: 10mm; margin-right: 10mm; justify-content: flex-start; align-items: flex-start; width: 100%; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                            <div style="flex: 1; width: 100%; height: 3.5mm; border-bottom: 0.2mm solid #000;"></div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 8mm; background-color: #ccc;">
                    <div style="display: flex; flex-direction: column; margin-top: 4mm; margin-left: 10mm; margin-right: 10mm; justify-content: flex-start; align-items: flex-start; width: 100%; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                            <span style="width: 30mm; font-size: 3.5mm;">being payment of</span>
                            <div style="flex: 1; width: 100%; height: 3.5mm; border-bottom: 0.2mm solid #000;"></div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%; height: 28.2mm; background-color: #bbb;">
                    <div style="display: flex; flex-direction: row; margin-top: 4mm; justify-content: center; align-items: center; height: 6mm;">
                        <span style="display: flex; justify-content: center; align-items: center; border-left: 0.2mm #000 solid; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; border-top: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;">Order No</span>
                        <span style="display: flex; justify-content: center; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; border-top: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;">Bank</span>
                        <span style="display: flex; justify-content: center; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; border-top: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;">Cheque No</span>
                        <span style="display: flex; justify-content: center; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; border-top: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;">Place</span>
                        <span style="display: flex; justify-content: center; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; border-top: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;">Date Of Cheque</span>
                        <span style="display: flex; justify-content: center; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; border-top: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;">Amount</span>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 6mm;">
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-left: 0.2mm #000 solid; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm; font-weight: bold;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 6mm;">
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-left: 0.2mm #000 solid; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm; font-weight: bold;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 6mm;">
                        <span style="display: flex; justify-content: flex-start; align-items: center; padding: 0mm 1mm; width: 111mm; height: 6mm; font-size: 3.5mm;">Cash / Cheque</span>
                        <span style="display: flex; justify-content: flex-end; align-items: center; padding: 0mm 1mm; width: 26.4mm; height: 6mm; font-size: 3.5mm;">Total RM</span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-left: 0.2mm #000 solid; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 17.7mm; background-color: #ccc;">
                    <div style="display: flex; flex-direction: column; margin-top: 10mm; margin-left: 10mm; justify-content: flex-start; align-items: flex-start; flex: 1; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 24mm;">
                            <span style="width: 10mm; font-weight: bold; font-size: 4.5mm;">RM</span>
                            <div style="width: 48mm; height: 3.5mm; border-bottom: 0.2mm solid #000;"></div>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column; margin-top: 10mm; margin-right: 10mm; justify-content: flex-start; align-items: flex-start; flex: 1; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-end; align-items: flex-start; width: 100%; height: 24mm;">
                            <span style="width: 30mm; font-weight: bold; font-size: 4.5mm;">Approved by:</span>
                            <div style="flex: 1; width: 100%; height: 3.5mm; border-bottom: 0.2mm solid #000;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; overflow: hidden; width: 210mm; height: 148.5mm; background-color: #ffe;">
                <div style="position: relative; display: flex; flex-direction: row; justify-content: center; align-items: flex-start; width: 100%; height: 52mm; background-color: #ddd;">
                    <div style="display: flex; flex-direction: column; margin-top: 10mm; justify-content: flex-start; align-items: center; width: 40%; height: 40mm; border-right: 0.4mm #000 solid;">
                        <div style="display: flex; height: 19mm;">
                            <img style="width: 24.75mm; height: 15.95mm;" src="../../../assets/logo4.png"/>
                        </div>
                        <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; height: 10mm;">
                            <span style="font-size: 3mm; font-weight: bold;">PENGILANG PRODUK JAHITAN</span>
                            <span style="font-size: 2.5mm;">(MANUFACTURING TEXTILE INDUSTRY)</span>
                        </div>
                        <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-end; height: 10mm;">
                            <span style="font-size: 3.5mm;">No. 31 , Jalan Dagang 8, Taman Dagang Jaya,</span>
                            <span style="font-size: 3.5mm;">68000 Ampang, Selangor</span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column; margin-top: 10mm; justify-content: flex-start; align-items: center; width: 40%; height: 40mm; border-left: 0.4mm #000 solid;">
                        <div style="display: flex; height: 19mm;">
                            <img style="width: 18.5mm; height: 17.2mm;" src="../../../assets/logo5.png"/>
                        </div>
                        <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; height: 10mm;">
                            <span style="font-size: 3mm; font-weight: bold;">JR HAJJ NIAGA (M) SDN BHD</span>
                        </div>
                        <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; height: 10mm;">
                            <span style="font-size: 3.5mm;">32A - 3.03 & 3.04 Tingkat 3 Plaza Ampang City,</span>
                            <span style="font-size: 3.5mm;">Jalan Ampang Ulu, 50450 Kuala Lumpur</span>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 18.5mm; background-color: #ccc;">
                    <div style="display: flex; flex-direction: column; margin-top: 10mm; margin-left: 10mm; justify-content: flex-start; align-items: flex-start; width: 32mm; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 24mm;">
                            <span style="width: 8mm; font-size: 3.5mm;">Date</span>
                            <span style="width: 4mm; font-size: 3.5mm;">:</span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column; margin-top: 10mm; justify-content: flex-start; align-items: center; flex: 1; height: 12mm;">
                        <span style="width: 44mm; font-weight: bold; font-size: 4.5mm; font-style: italic; text-align: center;">OFFICIAL RECEIPT</span>
                        <div style="width: 44mm; text-align: center; border-top: 0.2mm solid #000;"></div>
                    </div>
                    <div style="display: flex; flex-direction: column; margin-top: 10mm; margin-right: 10mm; justify-content: flex-start; align-items: flex-start; width: 32mm; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-end; align-items: flex-start; width: 100%; height: 24mm;">
                            <span style="width: 8mm; font-weight: bold; font-size: 4.5mm;">No.</span>
                            <span style="width: 12mm; font-size: 4.5mm; text-align: right; color: #c00">0401</span>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 8mm; background-color: #ccc;">
                    <div style="display: flex; flex-direction: column; margin-top: 4mm; margin-left: 10mm; margin-right: 10mm; justify-content: flex-start; align-items: flex-start; width: 100%; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                            <span style="width: 24mm; font-size: 3.5mm;">Receive From</span>
                            <div style="flex: 1; width: 100%; height: 3.5mm; border-bottom: 0.2mm solid #000;"></div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 8mm; background-color: #ccc;">
                    <div style="display: flex; flex-direction: column; margin-top: 4mm; margin-left: 10mm; margin-right: 10mm; justify-content: flex-start; align-items: flex-start; width: 100%; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                            <span style="width: 46mm; font-size: 3.5mm;">the sum of Ringgit Malaysia</span>
                            <div style="flex: 1; width: 100%; height: 3.5mm; border-bottom: 0.2mm solid #000;"></div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 8mm; background-color: #ccc;">
                    <div style="display: flex; flex-direction: column; margin-top: 4mm; margin-left: 10mm; margin-right: 10mm; justify-content: flex-start; align-items: flex-start; width: 100%; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                            <div style="flex: 1; width: 100%; height: 3.5mm; border-bottom: 0.2mm solid #000;"></div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 8mm; background-color: #ccc;">
                    <div style="display: flex; flex-direction: column; margin-top: 4mm; margin-left: 10mm; margin-right: 10mm; justify-content: flex-start; align-items: flex-start; width: 100%; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%;">
                            <span style="width: 30mm; font-size: 3.5mm;">being payment of</span>
                            <div style="flex: 1; width: 100%; height: 3.5mm; border-bottom: 0.2mm solid #000;"></div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%; height: 28.2mm; background-color: #bbb;">
                    <div style="display: flex; flex-direction: row; margin-top: 4mm; justify-content: center; align-items: center; height: 6mm;">
                        <span style="display: flex; justify-content: center; align-items: center; border-left: 0.2mm #000 solid; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; border-top: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;">Order No</span>
                        <span style="display: flex; justify-content: center; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; border-top: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;">Bank</span>
                        <span style="display: flex; justify-content: center; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; border-top: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;">Cheque No</span>
                        <span style="display: flex; justify-content: center; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; border-top: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;">Place</span>
                        <span style="display: flex; justify-content: center; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; border-top: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;">Date Of Cheque</span>
                        <span style="display: flex; justify-content: center; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; border-top: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;">Amount</span>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 6mm;">
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-left: 0.2mm #000 solid; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm; font-weight: bold;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 6mm;">
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-left: 0.2mm #000 solid; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm; font-weight: bold;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 6mm;">
                        <span style="display: flex; justify-content: flex-start; align-items: center; padding: 0mm 1mm; width: 111mm; height: 6mm; font-size: 3.5mm;">Cash / Cheque</span>
                        <span style="display: flex; justify-content: flex-end; align-items: center; padding: 0mm 1mm; width: 26.4mm; height: 6mm; font-size: 3.5mm;">Total RM</span>
                        <span style="display: flex; justify-content: flex-start; align-items: center; border-left: 0.2mm #000 solid; border-right: 0.2mm #000 solid; border-bottom: 0.2mm #000 solid; padding: 0mm 1mm; width: 26mm; height: 6mm; font-size: 3.5mm;"></span>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 17.7mm; background-color: #ccc;">
                    <div style="display: flex; flex-direction: column; margin-top: 10mm; margin-left: 10mm; justify-content: flex-start; align-items: flex-start; flex: 1; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 100%; height: 24mm;">
                            <span style="width: 10mm; font-weight: bold; font-size: 4.5mm;">RM</span>
                            <div style="width: 48mm; height: 3.5mm; border-bottom: 0.2mm solid #000;"></div>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column; margin-top: 10mm; margin-right: 10mm; justify-content: flex-start; align-items: flex-start; flex: 1; height: 12mm;">
                        <div style="display: flex; flex-direction: row; justify-content: flex-end; align-items: flex-start; width: 100%; height: 24mm;">
                            <span style="width: 30mm; font-weight: bold; font-size: 4.5mm;">Approved by:</span>
                            <div style="flex: 1; width: 100%; height: 3.5mm; border-bottom: 0.2mm solid #000;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>