<html>
    <body>
        <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; overflow: hidden; width: 210mm; height: 297mm; background-color: #eee;">
            <div style="position: relative; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; width: 100%; height: 52mm; background-color: #ddd;">
                <img style="position: absolute; left: 5mm; display: flex; width: 32mm; height: 32mm;" src="../../../assets/logo5.png"/>
                <div style="display: flex; flex-direction: column;  margin-top: 10mm;justify-content: center; align-items: center; width: 100%; height: 100%;">
                    <span style="font-size: 7.5mm; font-weight: bold;">JR HAJJ NIAGA (M) SDN BHD</span>
                    <span style="font-size: 3.5mm;">1273889-W</span>
                    <span style="font-size: 3.5mm;">(SST No : )</span>
                    <span style="font-size: 3.5mm;">332A-3.04, TINGKAT 3,</span>
                    <span style="font-size: 3.5mm;">PLAZA AMPANG CITY,</span>
                    <span style="font-size: 3.5mm;">JALAN AMPANG ULU,</span>
                    <span style="font-size: 3.5mm;">50450 KUALA LUMPUR.</span>
                    <span style="font-size: 3.5mm;">Tel: 0323867399</span>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%; height: 244mm; background-color: #bbb;">
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 6mm;">
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 8mm; height: 6mm; font-size: 3.5mm;"></span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 22mm; height: 6mm; font-size: 3.5mm;">Code</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 90mm; height: 6mm; font-size: 3.5mm;">Description</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 20mm; height: 6mm; font-size: 3.5mm;">UOM</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 10mm; height: 6mm; font-size: 3.5mm;">Qty</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 20mm; height: 6mm; font-size: 3.5mm;">Category</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; border-top: 0.2mm #ccc solid; border-bottom: 0.2mm #ccc solid; width: 25mm; height: 6mm; font-size: 3.5mm;">Last Updated At</span>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 5.5mm;">
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 8mm; height: 5.5mm; font-size: 3.5mm;">1.</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 22mm; height: 5.5mm; font-size: 3.5mm;">ST00318</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 90mm; height: 5.5mm; font-size: 3.5mm;">TELEKUNG PASANG (NAVY BLUE)</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 20mm; height: 5.5mm; font-size: 3.5mm;">Unit</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 10mm; height: 5.5mm; font-size: 3.5mm;">107</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 20mm; height: 5.5mm; font-size: 3.5mm;">Finished</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 25mm; height: 5.5mm; font-size: 3.5mm;">20/05/2021 16:33</span>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 5.5mm;">
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 8mm; height: 5.5mm; font-size: 3.5mm;">2.</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 22mm; height: 5.5mm; font-size: 3.5mm;">ST00318</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 90mm; height: 5.5mm; font-size: 3.5mm;">TELEKUNG PASANG (NAVY BLUE)</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 20mm; height: 5.5mm; font-size: 3.5mm;">Unit</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 10mm; height: 5.5mm; font-size: 3.5mm;">107</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 20mm; height: 5.5mm; font-size: 3.5mm;">Finished</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 25mm; height: 5.5mm; font-size: 3.5mm;">20/05/2021 16:33</span>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 5.5mm;">
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 8mm; height: 5.5mm; font-size: 3.5mm;">3.</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 22mm; height: 5.5mm; font-size: 3.5mm;">ST00318</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 90mm; height: 5.5mm; font-size: 3.5mm;">TELEKUNG PASANG (NAVY BLUE)</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 20mm; height: 5.5mm; font-size: 3.5mm;">Unit</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 10mm; height: 5.5mm; font-size: 3.5mm;">107</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 20mm; height: 5.5mm; font-size: 3.5mm;">Finished</span>
                    <span style="display: flex; justify-content: flex-start; align-items: center; width: 25mm; height: 5.5mm; font-size: 3.5mm;">20/05/2021 16:33</span>
                </div>
            </div>
        </div>
    </body>
</html>